{% extends 'mainApp/index.html' %}
{% load static %}

{% block tabTitle %}
    Equipos de Red
{% endblock tabTitle %}

{% block titulo %}
    <h1>Equipos de Red</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Confirma si quieres eliminar el Equipo de forma permanente</li>
    </ol>
{% endblock titulo %}

{% block contenido %}
    <div  class="col-lg-8">
        <form action="" method="POST">
        {% csrf_token %}  
            <div class="card shadow-lg border-0 rounded-lg mt-5 opacity-75">
                <div class="card-header" style="background-color:#FFBC00">
                    <h3 class="text-center font-weight-light my-4 text-dark">¿Esta seguro de eliminar el Equipo?</h3>
                </div>
                <div class="card-body text-center fw-bolder">
                    <h3 style="color:red">{{object}}</h3>
                    <p>{{object.descripcion}}</p>
                </div>
                <div class="card-footer text-center py-3" style="background-color:#FFBC00">
                    <input type="submit" class="btn btn-secondary border-0" style="background-color:#212529" value="Confirmar">                                    
                </div>
            </div>
        </form>
    </div>
{% endblock contenido %}